In [1]:
import sqlite3
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
 df = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')
df

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [11]:
df.nlargest(20, ['averagerating'])
#top ratings based on the averagerating column

           tconst  averagerating  numvotes
6784    tt5390098           10.0         5
7017    tt6295832           10.0         5
8992    tt1770682           10.0         5
26153   tt2632430           10.0         5
27644   tt8730716           10.0         5
34334   tt4960818           10.0         8
45335   tt6991826           10.0         5
45660  tt10176328           10.0         5
47796   tt4944240           10.0         5
49073   tt5089804           10.0         7
52178   tt7259300           10.0         6
56819  tt10378660           10.0         5
57679   tt5344358           10.0         6
59761   tt4109192           10.0         6
64754   tt7227500           10.0         6
65033   tt9715646           10.0        20
4614    tt9743544            9.9         8
25690   tt9747294            9.9         8
25692   tt9820678            9.9        18
39346   tt9866708            9.9        10

In [13]:
df.columns

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

AttributeError: 'int' object has no attribute 'print'