In [14]:
import sqlite3
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
conn = sqlite3.Connection('data/create_movies_db')
cur = conn.cursor()

In [16]:
 df = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')
df.isna().sum()

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [17]:
imb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
title_basics.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [5]:

#top ratings based on the averagerating column

In [18]:
df.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [7]:
#df_all_cols = pd.concat([df, title_basics], axis = 1)
#df_all_cols

In [23]:
cur.execute('''SELECT *
                FROM basic
                JOIN types
                ON df=imb_title_basics''')

OperationalError: no such table: basic

'SELECT \n    *\nFROM\n    Moive_DataBase;'

In [ ]:
i[0] for i in curssur

In [27]:
'''SELECT * FROM imb_title_basics'''

'SELECT * FROM imb_title_basics'