In [1]:
import sqlite3
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
conn = sqlite3.Connection('data/movies.db')
cur = conn.cursor()

In [3]:
 df = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')
df

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [4]:
imdb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [5]:

#top ratings based on the averagerating column

In [6]:
#df_all_cols = pd.concat([df, title_basics], axis = 1)
#df_all_cols

In [ ]:
new_df = pd.read_sql('''
    SELECT DISTINCT tconst, imdb_title_basics.*
    FROM imdb_title_basics JOIN imdb_title_principals
    USING(tconst)''', conn)

In [ ]:
new_df

In [ ]:
df2 = new_df.drop("tconst", axis=1)
df2

In [ ]:
df2.sort_values(by=['runtime_minutes'])

In [ ]:
data = [df2["genres"], df2["runtime_minutes"], df2["primary_title"]]
headers = ["genres", "runtime_minutes", "primary_title"]
runtime = pd.concat(data, axis=1, keys=headers)
runtime

In [ ]:
Drama = runtime.loc[runtime['genres'] == 'Drama']
Drama

In [ ]:
Drama_median = Drama["runtime_minutes"].median()

In [ ]:
Horror = runtime.loc[runtime['genres'] == 'Horror']

In [ ]:
Horror_median = Horror["runtime_minutes"].median()

In [ ]:
Action = runtime.loc[runtime['genres'] == 'Action']

In [ ]:
Action_median = Action["runtime_minutes"].median()

In [ ]:
Comedy = runtime.loc[runtime['genres'] == 'Comedy']

In [ ]:
Comedy_median = Comedy["runtime_minutes"].median()

In [ ]:
genre_runtime_median = {'Genre': ['Drama', 'Horror', 'Action', 'Comedy'],
                        'runtime_median': [92,85,93,91]
                        }
genre_runtime_avg = pd.DataFrame(genre_runtime_median, columns = ['Genre', 'runtime_median'])
genre_runtime_avg

In [ ]:
plt.bar(x=genre_runtime_median['Genre'],
 
        height=genre_runtime_median['runtime_median'])
color='midnightblue'
plt.xticks(rotation=45)
plt.title('Average runtime(min)', fontsize=16)
plt.savefig('Avg runtime bar graph')

In [ ]:
#Filter the data to get only Drama, Horror, Action, Comedy

In [ ]:
new_df4 = pd.read_sql('''SELECT *
FROM tn_movie_budgets
    INNER JOIN imdb_title_basics ON movie = primary_title;''',conn)

In [ ]:
no_idx_4 = new_df4.drop("idx", axis=1)

In [ ]:
no_tconst = no_idx_4.drop("tconst", axis=1)

In [ ]:
values=['Drama','Horror', 'Action', 'Comedy']
df_genres = no_tconst[no_tconst.genres.isin(values)]
df_genres

In [ ]:
#get production budget and worldwide gross averages for each genre and put on the bar graph with runtime

In [ ]:
data2 = [df_genres["movie"], df_genres["production_budget"], df_genres["worldwide_gross"], df_genres["genres"]]
headers = ["movie", "production_budget", "worldwide_gross", "genres"]
genre_budget = pd.concat(data2, axis=1, keys=headers)
genre_budget

In [ ]:
#remove $)
no_dollar_sign = genre_budget['production_budget'].str.replace('$', '').str.replace(',', '')
df3 = pd.DataFrame(no_dollar_sign)
df3

In [ ]:
no_dollar_sign2 = genre_budget['worldwide_gross'].str.replace('$', '').str.replace(',', '')
df5 = pd.DataFrame(no_dollar_sign2)
df5

In [ ]:
df13 = pd.concat([no_dollar_sign, no_dollar_sign2], axis=1)
df13

In [ ]:
just_genre = genre_budget[['genres']]

In [ ]:
just_movie = genre_budget[['movie']]

In [ ]:
df14 = pd.concat([df13, just_genre], axis=1)

In [ ]:
df15 = pd.concat([df14, just_movie ], axis=1)
df15

In [ ]:
#Shows movie, production_budget, worldwide_gross, and genres for Horror movies
Horror_2 = df15.loc[df15['genres'] == 'Horror']

In [ ]:
#Finds median of production_budget for horror movies
Horror_production_budget_median = Horror_2["production_budget"].median()
Horror_production_budget_median

In [ ]:
#Shows movie, production_budget, worlwide_gross, and genres for Drama movies
Drama_2 = df15.loc[df15['genres'] == 'Drama']

In [ ]:
Drama_production_budget_median = Drama_2["production_budget"].median()
Drama_production_budget_median

In [ ]:
#Shows movie, production_budget, worlwide_gross, and genres for Action movies
Action_2 = df15.loc[df15['genres'] == 'Action']

In [ ]:
Action_production_budget_median = Action_2["production_budget"].median()
Action_production_budget_median

In [ ]:
#Shows movie, production_budget, worlwide_gross, and genres for Comedy movies
Comedy_2 = df15.loc[df15['genres'] == 'Comedy']

In [ ]:
Comedy_production_budget_median = Comedy_2["production_budget"].median()
Comedy_production_budget_median

In [ ]:
#Table with Drama, Horror, Action, Comedy medians only production_budget
genere_production_budget_median = {'Genre': ['Drama', 'Horror', 'Action', 'Comedy'],
                                  'production_budget_median': [12000000,9900000,24500000,20000000]
                                  }
genre_production_budget_avg2 = pd.DataFrame(genere_production_budget_median, columns = ['Genre', 'production_budget_median'])
genre_production_budget_avg2

In [ ]:
#Finds median of worldwide_gross for horror movies
Horror_worldwide_gross_median = Horror_2["worldwide_gross"].median()
Horror_worldwide_gross_median

In [ ]:
#Finds median of worldwide_gross for Drama movies
Drama_worldwide_gross_median = Drama_2["worldwide_gross"].median()
Drama_worldwide_gross_median

In [ ]:
#Finds median of worldwide_gross for Action movies
Action_worldwide_gross_median = Action_2["worldwide_gross"].median()
Action_worldwide_gross_median

In [ ]:
#Finds median of worldwide_gross for Comedy movies
Comedy_worldwide_gross_median = Comedy_2["worldwide_gross"].median()
Comedy_worldwide_gross_median

In [ ]:
##Table with Drama, Horror, Action, Comedy medians only for worlwide_gross
genre_worldwide_gross_median = {'Genre': ['Drama', 'Horror', 'Action', 'Comedy'],
                                 'worldwide_gross_median': [11826980,14805812,29766753,28508010]
                                }
genre_worldwide_gross_avg = pd.DataFrame(genre_worldwide_gross_median, columns = ['Genre', 'worldwide_gross_median'])
genre_worldwide_gross_avg

In [ ]:
#convert to data frame genere_worldwide_gross_avg
genre_worldwide_gross_avg_df = pd.DataFrame.from_dict(genre_worldwide_gross_avg)
genre_worldwide_gross_avg_df

In [ ]:
#covert to df genere_production_budget_avg2
genre_production_budget_avg_df = pd.DataFrame.from_dict(genre_production_budget_avg2)
genre_production_budget_avg_df

In [ ]:
#combine genere_production_budget_avg2 and genere_worldwide_gross_avg

In [ ]:
#budget_worldwide_gross_combined = pd.concat([genere_worldwide_gross_avg,genere_production_budget_avg2 ], ignore_index=True, sort=False)
genre_production_budget_avg_df['worldwide_gross_median'] = genre_worldwide_gross_avg_df['worldwide_gross_median']
budget_worldwide_gross_combined = genre_production_budget_avg_df
budget_worldwide_gross_combined

In [ ]:
budget_worldwide_gross_combined.set_index('Genre').plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel("Budget Gross In U.S Dollars", size=14)
plt.xlabel("Genre", size=14)
plt.title("Budget and Worldwide Gross for Genres", size=16)
sns.set_palette("Dark2")
sns.set_style("dark")
plt.savefig("Budget and Worldwide Gross for Genres")

In [ ]:
budget_worldwide_gross_combined.set_index('Genre').plot(kind='bar')
plt.xticks(rotation=45)
plt.ylabel("Budget Gross In U.S Dollars", size=14)
plt.xlabel("Genre", size=14)
plt.title("Budget and Worldwide Gross for Genres", size=16)
plt.show()