In [1]:
import sqlite3
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
conn = sqlite3.Connection('data/movies.db')
cur = conn.cursor()

In [3]:
 df = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')
df

,tconst,ordering,nconst,category,job,characters
0,tt0111414,1,nm0246005,actor,NaN,"[""The Man""]"
1,tt0111414,2,nm0398271,director,NaN,NaN
2,tt0111414,3,nm3739909,producer,producer,NaN
3,tt0323808,10,nm0059247,editor,NaN,NaN
4,tt0323808,1,nm3579312,actress,NaN,"[""Beth Boothby""]"
...,...,...,...,...,...,...
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [4]:
imdb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [5]:

#top ratings based on the averagerating column

In [6]:
#df_all_cols = pd.concat([df, title_basics], axis = 1)
#df_all_cols

In [7]:
new_df = pd.read_sql('''
    SELECT DISTINCT tconst, imdb_title_basics.*
    FROM imdb_title_basics JOIN imdb_title_principals
    USING(tconst)''', conn)

In [8]:
new_df

,tconst,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...,...
143449,tt9916538,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
143450,tt9916622,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
143451,tt9916706,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
143452,tt9916730,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
143453,tt9916754,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [9]:
df2 = new_df.drop("tconst", axis=1)
df2

,idx,primary_title,original_title,start_year,runtime_minutes,genres
0,0,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,1,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,2,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,3,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,4,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
143449,146139,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
143450,146140,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
143451,146141,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
143452,146142,6 Gunn,6 Gunn,2017,116.0,None
143453,146143,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [10]:
df2.sort_values(by=['runtime_minutes'])

,idx,primary_title,original_title,start_year,runtime_minutes,genres
71503,72190,Powered By Green Smoothies,Powered By Green Smoothies,2014,1.0,"Adventure,Documentary,Sport"
97514,98755,Isa One Minute Portrait,Isa One Minute Portrait,2016,1.0,Documentary
111033,113278,First and Last,First and Last,2016,1.0,"Documentary,War"
114595,116943,"Warnings missed? The crop circle of May 21, 2017","Warnings missed? The crop circle of May 21, 2017",2017,1.0,"Documentary,Horror,Mystery"
137916,140571,For A Better Life,For A Better Life,2018,1.0,"Documentary,Family"
...,...,...,...,...,...,...
143441,146131,Bobbyr Bondhura,Bobbyr Bondhura,2019,NaN,Family
143448,146138,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
143450,146140,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
143451,146141,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
143453,146143,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [12]:
data = [df2["genres"], df2["runtime_minutes"], df2["primary_title"]]
headers = ["genres", "runtime_minutes", "primary_title"]
df3 = pd.concat(data, axis=1, keys=headers)
df3

,genres,runtime_minutes,primary_title
0,"Action,Crime,Drama",175.0,Sunghursh
1,"Biography,Drama",114.0,One Day Before the Rainy Season
2,Drama,122.0,The Other Side of the Wind
3,"Comedy,Drama",NaN,Sabse Bada Sukh
4,"Comedy,Drama,Fantasy",80.0,The Wandering Soap Opera
...,...,...,...
143449,Drama,123.0,Kuambil Lagi Hatiku
143450,Documentary,NaN,Rodolpho Teóphilo - O Legado de um Pioneiro
143451,Comedy,NaN,Dankyavar Danka
143452,None,116.0,6 Gunn
143453,Documentary,NaN,Chico Albuquerque - Revelações

In [ ]:
Drama, Horror, Action, Comedy