In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
from IPython.display import display, Markdown
import json
import sqlite3
import numpy as np
%matplotlib inline

In [17]:
conn = sqlite3.Connection('data/movies.db')
cur = conn.cursor()

# cur.execute('''Select *
#             From imdb_title_principals''')
# imdb_title_principals = pd.DataFrame(cur.fetchall())
# imdb_title_principals

# cur.execute('''Select *
#             From imdb_title_principals tp
#             Join imdb_title_crew tc
#             On tp.tconst = tc.tconst
#             Join imdb_title_ratings tr
#             On tp.tconst = tr.tconst
#             Join imdb_title_akas ta
#             On tp.tconst = ta.title_id
#             Join imdb_title_basics tb
#             On tp.tconst = tb.tconst
#             ''')

cur.execute('''Select * 
            From ''')

In [18]:
cur.description

(('idx', None, None, None, None, None, None),
 ('tconst', None, None, None, None, None, None),
 ('ordering', None, None, None, None, None, None),
 ('nconst', None, None, None, None, None, None),
 ('category', None, None, None, None, None, None),
 ('job', None, None, None, None, None, None),
 ('characters', None, None, None, None, None, None),
 ('idx', None, None, None, None, None, None),
 ('tconst', None, None, None, None, None, None),
 ('directors', None, None, None, None, None, None),
 ('writers', None, None, None, None, None, None),
 ('idx', None, None, None, None, None, None),
 ('tconst', None, None, None, None, None, None),
 ('averagerating', None, None, None, None, None, None),
 ('numvotes', None, None, None, None, None, None),
 ('idx', None, None, None, None, None, None),
 ('title_id', None, None, None, None, None, None),
 ('ordering', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('region', None, None, None, None, None, None),
 ('language', None, None, None, None, None, None),
 ('types', None, None, None, None, None, None),
 ('attributes', None, None, None, None, None, None),
 ('is_original_title', None, None, None, None, None, None),
 ('idx', None, None, None, None, None, None),
 ('tconst', None, None, None, None, None, None),
 ('primary_title', None, None, None, None, None, None),
 ('original_title', None, None, None, None, None, None),
 ('start_year', None, None, None, None, None, None),
 ('runtime_minutes', None, None, None, None, None, None),
 ('genres', None, None, None, None, None, None))

In [28]:
imdb = pd.DataFrame(cur.fetchmany(200))
imdb.columns = [x[0] for x in cur.description]

imdb

,idx,tconst,ordering,nconst,category,job,characters,idx,tconst,directors,...,types,attributes,is_original_title,idx,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,760,tt1131724,10,nm1166241,producer,producer,None,36564,tt1131724,nm0192984,...,imdbDisplay,None,0.0,5645,tt1131724,2:22,2:22,2017,98.0,Thriller
1,760,tt1131724,10,nm1166241,producer,producer,None,36564,tt1131724,nm0192984,...,imdbDisplay,None,0.0,5645,tt1131724,2:22,2:22,2017,98.0,Thriller
2,760,tt1131724,10,nm1166241,producer,producer,None,36564,tt1131724,nm0192984,...,alternative,None,0.0,5645,tt1131724,2:22,2:22,2017,98.0,Thriller
3,760,tt1131724,10,nm1166241,producer,producer,None,36564,tt1131724,nm0192984,...,None,None,0.0,5645,tt1131724,2:22,2:22,2017,98.0,Thriller
4,760,tt1131724,10,nm1166241,producer,producer,None,36564,tt1131724,nm0192984,...,imdbDisplay,None,0.0,5645,tt1131724,2:22,2:22,2017,98.0,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,786,tt1208711,9,nm0558484,cinematographer,None,None,91884,tt1208711,nm0110564,...,None,None,0.0,5890,tt1208711,The Misadventures of the Dunderheads,Montana Amazon,2012,88.0,"Adventure,Comedy,Drama"
196,795,tt1211353,10,nm0568174,cinematographer,None,None,91886,tt1211353,nm2213536,...,None,None,0.0,5900,tt1211353,The Mortician,The Mortician,2011,89.0,"Drama,Thriller"
197,795,tt1211353,10,nm0568174,cinematographer,None,None,91886,tt1211353,nm2213536,...,original,None,1.0,5900,tt1211353,The Mortician,The Mortician,2011,89.0,"Drama,Thriller"
198,795,tt1211353,10,nm0568174,cinematographer,None,None,91886,tt1211353,nm2213536,...,None,None,0.0,5900,tt1211353,The Mortician,The Mortician,2011,89.0,"Drama,Thriller"
199,795,tt1211353,10,nm0568174,cinematographer,None,None,91886,tt1211353,nm2213536,...,None,None,0.0,5900,tt1211353,The Mortician,The Mortician,2011,89.0,"Drama,Thriller"

In [36]:
imdb_title_ratings = pd.read_csv('data/zippedData/imdb.title.ratings.csv.gz')
imdb_title_akas = pd.read_csv('data/zippedData/imdb.title.akas.csv.gz')
imdb_name_basics = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz')
imdb_title_basics = pd.read_csv('data/zippedData/imdb.title.basics.csv.gz')
imdb_title_crew = pd.read_csv('data/zippedData/imdb.title.crew.csv.gz')
imdb_title_principals = pd.read_csv('data/zippedData/imdb.title.principals.csv.gz')

In [35]:
imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary