In [11]:
#import libraries and setup sql cursor
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup
import requests 
import matplotlib.pyplot as plt
import seaborn as sb

conn = sqlite3.connect('data/movies.db')
cur = conn.cursor()

In [12]:
tn_movies = pd.DataFrame(cur.execute("SELECT * FROM tn_movie_budgets").fetchall())
tn_movies.columns = [i[0] for i in cur.description]

OperationalError: no such table: tn_movie_budgets

In [13]:
# This function turns series columns into integers
def make_column_integer(df, series):
    df[series] = df[series].str.replace('$', '')
    df[series] = df[series].str.replace(',', '')
    df[series] = df[series].astype('int64')

# Turns all the columns in this dataframe into integers
make_column_integer(tn_movies, 'production_budget')
make_column_integer(tn_movies, 'domestic_gross')
make_column_integer(tn_movies, 'worldwide_gross')

NameError: name 'tn_movies' is not defined

In [ ]:
#create profit colum
tn_movies["profit"] = tn_movies["worldwide_gross"] - tn_movies["production_budget"]

In [ ]:
tn_movies.head()

In [ ]:
tn_movies["release_month"] = tn_movies["release_date"].str[0:3]

In [ ]:
tn_movies.head()

In [ ]:
months = set(tn_movies["release_month"])

In [6]:
def groupby_unformatted_column(df, unique, unique_category, aggregate_category):
    #unique is a list of unique values of the unique category
    return_list = []
    occurances_list = []
    label_list = []
    return_dict = {}
    for item in unique:
        frame = df[df[unique_category].str.contains(item)]
        aggregate = round(frame[aggregate_category].mean(), 1)
        occurance = len(frame[aggregate_category])
        occurances_list.append(occurance)
        return_list.append(aggregate)
    return_dict = {unique_category: list(unique), aggregate_category: return_list, "occurances": occurances_list}
    df = pd.DataFrame(return_dict)
    df["labels"] = df[unique_category].astype(str) + " (" + df["occurances"].astype(str) + ")"
    df.sort_values(aggregate_category, inplace=True, ascending = False)
    return df

In [7]:
gbm_df = groupby_unformatted_column(tn_movies, months, "release_month", "profit")

NameError: name 'tn_movies' is not defined

In [8]:
gbm_df.head()

NameError: name 'gbm_df' is not defined

In [9]:
sb.barplot(gbm_df["profit"], gbm_df["labels"])

NameError: name 'gbm_df' is not defined

In [10]:
#function makes new databse with just a certain column
def get_genre_df(df, genre):
    return df[df["genres"].str.contains(genre)]

In [3]:
action = get_genre_df(tn_movies, "action")

NameError: name 'tn_movies' is not defined