In [80]:
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup
import requests 
import matplotlib.pyplot as plt

conn = sqlite3.connect('data/movies.db')
cur = conn.cursor()

In [81]:
rt_movies = pd.DataFrame(cur.execute("SELECT movie_title, genres FROM rotten_tomatoes_movies").fetchall())
rt_movies.columns = [i[0] for i in cur.description]
#rt = rt[bom_movie_gross["foreign_gross"].notna()]
rt_movies.columns

Index(['movie_title', 'genres'], dtype='object')

In [82]:
rt_critic_reviews = pd.DataFrame(cur.execute("SELECT * FROM rotten_tomatoes_critic_reviews").fetchall())
rt_critic_reviews.columns = [i[0] for i in cur.description]
#rt = rt[bom_movie_gross["foreign_gross"].notna()]
rt_critic_reviews.columns

Index(['idx', 'rotten_tomatoes_link', 'critic_name', 'top_critic',
       'publisher_name', 'review_type', 'review_score', 'review_date',
       'review_content'],
      dtype='object')

In [83]:
rt = rt_movies.join(rt_critic_reviews, how = "left")
rt.head(1)

,movie_title,genres,idx,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",0,m/0814255,Andrew L. Urban,0,Urban Cinefile,Fresh,None,2010-02-06,A fantasy adventure that fuses Greek mythology...

In [84]:
rt.head(1)

,movie_title,genres,idx,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,Percy Jackson & the Olympians: The Lightning T...,"Action & Adventure, Comedy, Drama, Science Fic...",0,m/0814255,Andrew L. Urban,0,Urban Cinefile,Fresh,None,2010-02-06,A fantasy adventure that fuses Greek mythology...

In [85]:
bom_movie_gross = pd.DataFrame(cur.execute("SELECT foreign_gross, domestic_gross, title from bom_movie_gross").fetchall())
bom_movie_gross.columns = [i[0] for i in cur.description]
bom_movie_gross = bom_movie_gross[bom_movie_gross["foreign_gross"].notna()]

tmdb_movies = pd.DataFrame(cur.execute("SELECT title, genre_ids, popularity from tmdb_movies").fetchall())
tmdb_movies.columns = [i[0] for i in cur.description]
#tmdb_movies = tmdb_movies[tmdb_movies["forign_gross"].notna()]

In [86]:
print(len(bom_movie_gross))
print(len(rt_movies))
bom_gross_rt_genre = rt_movies.join(bom_movie_gross, how="inner")
bom_gross_rt_genre.groupby(["genres"])["domestic_gross"].mean()

2037
17712

genres
Action & Adventure                                                         5.782448e+07
Action & Adventure, Animation                                              1.996666e+06
Action & Adventure, Animation, Anime & Manga, Drama                        4.480000e+05
Action & Adventure, Animation, Art House & International, Kids & Family    4.110000e+04
Action & Adventure, Animation, Classics, Comedy, Kids & Family             7.200000e+05
                                                                               ...
Mystery & Suspense, Television                                             5.270000e+07
Mystery & Suspense, Western                                                2.100000e+04
Romance                                                                    6.755000e+05
Science Fiction & Fantasy                                                  1.860000e+07
Science Fiction & Fantasy, Romance                                         1.031000e+08
Name: domestic_gross, Length: 384, dtype: float64

In [87]:
unfiltered_genres = []
bom_gross_rt_genre["genres"] = bom_gross_rt_genre["genres"].str.replace("&", ",")
bom_gross_rt_genre["genres"] = bom_gross_rt_genre["genres"].str.split(',')

In [88]:
unique_genres
for item in bom_gross_rt_genre["genres"]:
    unique_genres.append(item)
#unique_genres = bom_gross_rt_genre

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [ ]:
genre_averages = {}

for genre in unique_genres:
    frame = bom_gross_rt_genre[bom_gross_rt_genre.genre.contains(genre)]
    genre_averages[grenre]

In [ ]:
fig, ax = plt.subplots()
ax.plot()

In [ ]:
bom_movie_gross.merge(tmdb_movies).drop_duplicates(["title", "foreign_gross"])

In [ ]:
# bom_movie_gross.merge(rt['tomatometer_rating', 'audience_rating', 'movie_title', 'movie_info',
#        'content_rating', 'genres', 'directors', 'actors'])

In [ ]:
bom_movie_gross

In [ ]:
tmdb_movies

In [ ]:
imdb_title_basics = pd.DataFrame(cur.execute("SELECT tconst, primary_title, genres FROM imdb_title_basics").fetchall())
imdb_title_basics.columns = [i[0] for i in cur.description]

print(imdb_title_basics[0])

In [89]:
gross = []
#put dataframe that includes tconst and primary title as parameter
def imdb_gross(imdb_data):
    for x in imdb_data:
        url = f'https://www.imdb.com/title/{}/'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')

        gross_us_and_ca = soup.find_all("span", class_="ipc-metadata-list-item__list-content-item")[3].text
        gross_worldwide = soup.find_all("span", class_="ipc-metadata-list-item__list-content-item")[6].text
        
        #make list that includes movie title of row folled by gross domestic and worldwide of row's tconst
        gross.append([imdb_data["primary_title"][x], gross_us_and_ca, gross_worldwide])
#imdb_gross()

SyntaxError: f-string: empty expression not allowed (<ipython-input-89-3bcfadd833db>, line 5)